
extends ./_pug/page.pug
block head
  title 关于我们
  link(rel="stylesheet", href="static/pages/about/about.css")

block header
  include ./_modules/header/header.pug

block main
  main
    h1 about-main
    a(href="index.html") to-index-page
block footer
  include ./_modules/footer/footer.pug

block scripts
  script(src="static/pages/about/about.js")